@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
#search-null {
    display: none;
}
#search-field {
    font-weight: 400;
    font-size: .80rem;
}
#input-width {
    width: 80%;
}
#title {
    font-weight: 900;
    font-size: 1.7rem;
}
button:hover {
    background-color: green;
}
@media (min-width: 576px) { 
    #search-field {
        font-weight: 700;
        font-size: 1.5rem;
        width: 50%;
    }
    #input-width {
        width: 50%;
    }
    #title {
        font-weight: 700;
        font-size: 3.5rem;
    }
 }